@font-face {
	font-family: 'MyFonts';
	src: url ('fonts/coffeebreak.ttf') format('ttf');
	src: url ('fonts/espresso.ttf') format('ttf');
	src: url ('fonts/getcoffee.ttf') format('ttf');
	src: url ('fonts/rain.ttf') format('ttf');
	src: url ('fonts/scribble.ttf') format('ttf');
}

.center {
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
}

.chalk-line {
	/* margin: auto; */
	opacity: .6;
	width: 60%;
	margin: 0;
}

.black {
	background: black;
}

.underline {
	border-bottom: 3px solid white;
	opacity: .5;
	width: 15vw;
	margin: auto;
	text-align: center;
}

.site-header {
	border: none;
	border-top: none;
	/* background-color: transparent; */
	float: none !important;
	/* padding-top: 1em; */
	padding-bottom: 0em;
	text-align: center;
	color: goldenrod;
	/* background: rgba(255, 255, 255, 0.3); */
	background: rgba(0, 0, 0, 0.3);
}

.site-header a {
	font-size: 1.2em;
	line-height: 3em;
	margin: 0em 3em;
	opacity: .9;
	padding: 15px;
}

.top-navigation {
	/* padding-top: 1em; */
	/* background: transparent; */
	/* position: fixed; */
	min-height: auto;
	width: 100%;
	/* background: rgba(0, 0, 0, 0.3); */
	background: rgba(255, 255, 255, 0.3);
	/* margin-bottom: 30px; */
	opacity: 1;
}

.top-navigation a:hover,
.top-navigation a:focus {
	color: white;
	background: rgba(0, 0, 0, 0.3);
	/* color: rgb(46, 34, 34); */
	opacity: 1;
}

/*////////////////////////////////////////--VIDEO--*/
#video-block {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	animation-name: opacity;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	position: relative;
}

video {
	z-index: -1;
	background-size: cover;
	position: fixed;
	right: 0;
	bottom: 0;
	/* min-width: 100vw; */
	/* min-height: 100vh; */
	top: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	animation-name: opacity;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

.video-overlay {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	min-width: 100%;
	height: inherit;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
}

/*////////////////////////////////////////--TITLE--*/
.maintitle {
	font-size: 14vw;
	letter-spacing: .5vw;
	padding: .1em .3em;
	font-family: 'Fredericka the Great', cursive;
	opacity: .7;
	color: #eee8e8;
	/* color: rgb(54, 42, 31); */
	/* color: rgb(49, 39, 30); */
	/* background: rgba(0, 0, 0, 0.2); */
	/* background: rgba(255, 255, 255, 0.3); */
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-shadow: 6px 3px rgb(144, 113, 72), 0 0 50px black, 0 0 50px black;
	animation-name: opacity;
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;
}

.hero-logo {
	width: 90px;
	height: auto;
	align-self: flex-end;
	margin-bottom: 30px;
	padding: 10px;
	opacity: .9;
}

.single-logo {
	width: 80px;
	opacity: .7;
	margin: auto;
}

.sketch {
	background-image: url("/img/sketch.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: 200;
	width: 200px;
	height: auto;
}

.back-img {
	color: #ffffff;
	background-color: transparent;
	background-image: url("/img/chalkboard.jpg") !important;
	/* margin-top: 30px; */
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	z-index: 100;
	width: 60vw;
	height: auto;
	margin: auto;
	float: none;
	padding: 30px 20px;
	/* border: 10px solid rgb(75, 57, 33); */
	animation-name: opacity;
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;

}

.back {
	background-color: transparent;
	background-image: url("/img/brickwall.jpg") !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-width: 100%;
	min-height: 100vh;
	height: 100%;
	animation-name: opacity;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

.entry-header {
	color: #ffffff;
	font-weight: 500;
	margin: 40px 0px 30px 0px;
	padding: 0px;
	opacity: .7;
	float: none;
	font-family: 'Fredericka the Great', cursive;
	letter-spacing: 3px;

}

.entry-content {
	padding: 20px;
	font-size: 1.2em;
	font-weight: 300;
	/* padding-bottom: 80px; */
	margin: 0 20px 60px 20px;
	text-align: center;
	letter-spacing: 1px;
	opacity: .7;
	font-family: 'Cabin Sketch', cursive;
}

.single-content {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.content-title:after {
	position: relative;
	background: goldenrod;
}

.content-image {
	margin-bottom: 0;
}

.content-excerpt {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 1;
}

.content-description {
	font-size: 1.2em;
	margin: 5%;
}

.more-link {
	font-size: 1em;
	/* margin: 30px; */
}

.main-content {
	margin-top: 60px;
}

/*////////////////////////////////////////--HIDDEN ELEMENTS--*/
.content-date {
	display: none;
}

/*////////////////////////////////////////--FOOTER--*/
.site-footer a {
	opacity: 1;
}

@keyframes opacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.frame {
	/* background-color: #ddc; */
	/* border: solid 5vmin #eee; */
	/* border-bottom-color: #fff; */
	/* border-left-color: #eee; */
	border-radius: 2px;
	/* border-right-color: #eee; */
	/* border-top-color: #ddd; */
	background-color: transparent;
	border: solid 5vmin rgba(224, 224, 224, 0.692);
	border-bottom-color: rgba(231, 228, 228, 0.664);
	border-left-color: rgba(226, 224, 224, 0.767);
	border-right-color: rgba(223, 223, 223, 0.767);
	border-top-color: rgba(202, 202, 202, 0.76);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
	box-sizing: border-box;
	/* display: inline-block; */
	/* margin: 10vh 10vw; */
	/* height:80vh; */
	/* padding:8vmin; */
	position: relative;
	text-align: center;
	margin-top: 50px;
	animation-name: opacity;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

.frame:before {
	border-radius: 2px;
	bottom: -2vmin;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
	content: "";
	left: -2vmin;
	position: absolute;
	right: -2vmin;
	top: -2vmin;
}

.frame:after {
	border-radius: 2px;
	bottom: -2.5vmin;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
	content: "";
	left: -2.5vmin;
	position: absolute;
	right: -2.5vmin;
	top: -2.5vmin;
}